/* layout */

.links {
	/* float: right; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 44px;
	margin-right: 40px;
}

.links>a {
	margin: 0 20px;
}

.links-mobile {
	display: none;
}

#hero img {
	width: 100%;
	max-width: 1500px;
	/* position: relative;
	left: 50%;
	transform: translateX(-50%); */
}

#cta {
	margin-top: 80px;
	text-align: center;
}

#cta>a {
	position: relative;
}

#c-logo {
	width: 100%;
	height: 1800px;
	position: absolute;
	overflow: hidden;
}

#ipad,
#watch,
#awards,
#coaches {
	position: relative;
	overflow: hidden;
}

section {
	padding: 40px 0;
}

section:last-child {
	margin-bottom: 80px;
}

.text-hide {
	margin-top: 40px;
}

.text-hide h4,
.text-hide h5 {
	margin-top: 20px;
}

#ipad>div {
	width: 1920px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px 0;
}

#ipad>div>div {
	width: 100%;
	max-width: 400px;
	position: absolute;
	left: 20%;
}

#ipad>div>img {
	width: 960px;
	position: relative;
	left: 50%;
}

#watch>div {
	width: 1200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#watch>div>div {
	grid-row: 1/2;
	grid-column: 2/3;
}

#watch>div>img {
	grid-row: 1/2;
	grid-column: 1/2;
}

#awards>div {
	width: 1200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 40px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#awards>div>div.img-hide {
	position: relative;
	left: 72px;
}

.coach-intro {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.coach-intro>div {
	max-width: 520px;
	margin-bottom: 80px;
}

.infinite-carousel-ul {
	position: relative;
	display: flex;
	flex-direction: row;
}

.infinite-carousel-li>img {
	width: 240px;
	max-width: 240px;
}

#plans {
	display: flex;
	justify-content: center;
}

#plans>div {
	width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 48px;
	padding: 0 40px;
}

#plans h5 {
	margin-bottom: 24px;
}

footer {
	display: flex;
	justify-content: center;
}

#footer {
	width: 900px;
	height: 80px;
	border-top: 1px solid #d2d2d7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#footer>p:last-child {
	padding-top: 8px;
}

/* style */

body>* {
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background-color: #E6E6E6;
}

nav {
	/* height: 44px; */
	background-color: #1D1D1F;
}

.logo {
	float: left;
	/* display: inline-block; */
	width: 80px;
	height: 44px;
	background: url("../images/logo.png") no-repeat;
	background-position: center;
	background-size: 80px 16px;
	margin-left: 80px;
}

.nav-btn {
	font-size: 12px;
	font-weight: normal;
	color: #e6e6e6;
	line-height: 44px;
	transition: 350ms;
	padding: 4px 0;
}

.nav-btn:hover {
	color: #ffffff;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.current-page {
	color: #b6b6b9;
}

.nav-login {
	font-size: 12px;
	font-weight: 500;
	color: black;
	background-color: #A6FF00;
	padding: 5px 12px;
	border-radius: 11px;
}

.cta-btn {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	color: black;
	background-color: #A6FF00;
	width: 196px;
	padding: 13px 0;
	border-radius: 28px;
	text-align: center;
}

.nav-login:hover {
	transition: all 0.25s;
	background-color: hsl(81, 100%, 45%);
}

.cta-btn:hover {
	transition: all 0.25s;
	background-color: hsl(81, 100%, 48%);
}

h2 {
	font-size: 56px;
	line-height: 1.05;
	font-weight: bold;
	letter-spacing: -0.8px;
}

h4 {
	font-size: 24px;
	line-height: 1.15;
	font-weight: 500;
	letter-spacing: -0.4px;
	color: #6e6e73;
}

h3 {
	font-size: 40px;
	line-height: 1.05;
	font-weight: bold;
	letter-spacing: -0.6px;
}

h5 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: -0.2px;
	color: #6e6e73;
}

.c-logo {
	position: absolute;
	width: 1500px;
	height: 1800px;
	margin-top: 40px;
	background-image: url("/images/C.svg");
	background-size: cover;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}

#footer>p {
	color: #6e6e73;
	font-size: 12px;
}

/* interaction */

.img-hide {
	opacity: 0;
	transition: all 1.5s;
	transform: translateY(12%);
}

.img-show {
	opacity: 1;
	transform: translateY(0%);
}

.text-hide {
	opacity: 0;
	transition: all 1s;
	transform: translateY(8%);
}

.text-show {
	opacity: 1;
	transform: translateY(0%);
}

.infinite-carousel-li:hover {
	cursor: pointer;
}

/* bxSlider plugin */

.bx-wrapper {
	position: absolute;
	background: none;
	border: none;
	box-shadow: none;
}

.bx-prev,
.bx-next {
	display: none;
}

/* media */

@media only screen and (max-width: 1280px) {
	section:last-child {
		margin-bottom: 40px;
	}

	#ipad>div {
		width: 100%;
	}

	#ipad>div>div {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 80px;
		max-width: 520px;
	}

	#ipad>div>img {
		width: 100%;
		left: 20%;
	}

	#watch>div {
		width: 100%;
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 0;
	}

	#watch>div>div {
		width: 100%;
		max-width: 520px;
		margin-bottom: 80px;
		grid-column: unset;
	}

	#watch>div>img {
		width: 100%;
		position: relative;
		left: 8%;
		transform: unset;
		grid-row: unset;
	}

	#awards>div {
		width: 100%;
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 0;
	}

	#awards>div>div.text-hide {
		width: 100%;
		max-width: 520px;
		margin-bottom: 80px;
		margin-top: 0;
	}

	#awards>div>div.img-hide {
		width: 100%;
		max-width: 480px;
		left: 0;
		margin-left: 168px;
	}

	.coach-intro>div {
		margin-top: 0;
	}

	.infinite-carousel-li>img {
		width: 200px;
		max-width: 200px;
	}
}

@media only screen and (max-width: 768px) {
	.logo {
		margin-left: 20px;
	}

	.links {
		margin-right: 0;
	}

	.links-mobile {
		display: block;
		background-color: #313135;
		text-align: center;
	}

	.links-mobile>a {
		margin: 0 20px;
	}

	.links-desktop>a[class$="-btn"] {
		display: none;
	}

	#ipad>div>div,
	#watch>div>div,
	#awards>div>div.text-hide,
	.coach-intro>div {
		max-width: 480px;
		padding: 0 24px;
	}

	#ipad>div>img {
		left: 6.75%;
	}

	#watch>div>img {
		left: 7%;
	}

	#awards>div>div.img-hide {
		width: 130%;
		max-width: 400px;
		margin-left: 135px;
	}

	.infinite-carousel-li>img {
		width: 120px;
		max-width: 120px;
	}

	#plans>div {
		width: 100%;
		grid-template-columns: 1fr;
		max-width: 400px;
		padding: 0 40px;
	}

	h2 {
		font-size: 40px;
	}

	h4 {
		font-size: 20px;
		line-height: 1.2;
	}

	h3 {
		font-size: 32px;
	}

	h5 {
		font-size: 18px;
	}
}

@media only screen and (max-width: 648px) {
	#awards>div>div.img-hide {
		width: 130%;
		max-width: 320px;
		margin-left: 108px;
	}

	.infinite-carousel-li>img {
		width: 100px;
		max-width: 100px;
	}
}
